.element.mx-auto{
    padding: 10px;
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: greenyellow;
    color:indigo;
    border-radius: 10px;
}


.container{
    text-align: center;
    align-items: center;
}

.mat-icon{
    font-size: 80px;
    align-items: center;
    text-align: center;
}